@import "../../variables";

.close__btn {
  position: absolute;
  top: 6px;
  right: 4px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.close__icon {
  width: 24px;
  height: 24px;
  fill: #999999;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.close__icon:hover,
.close__icon:focus {
  fill: var(--button-accent-bg);
}

.mob__menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 95%;
  height: 100%;
  background-color: #f4fff6;
  padding: 40px 40px 40px 120px;
  opacity: 0;
  transform: translate(100%);
  transition: var(--transition-primary);
}

.mob__menu.show {
  z-index: 10;
  opacity: 1;
  transform: translate(0%);
}

.mob__nav_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
}

.mob__nav_item:not(:last-child) {
  margin-bottom: 20px;
}

.mob__nav_item::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  margin-top: 20px;
  border-radius: 50%;
  background-color: var(--primary-button-color);
  opacity: 0.8;
}

.mob__nav_item a {
  color: var(--primary-button-color);
  transition: var(--transition-primary);

  &:hover,
  &:focus {
    text-decoration: none;
    color: var(--button-accent-bg);
  }
}
