.movie__container {
  margin-top: 48px;
}

.primary__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 180px;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff6b01;
  border: 2px solid #ff6b01;
  border-radius: 20px;
  padding: 10px 20px;
  font-family: Nunito Sans;
  font-size: 12px;
  font-weight: 700;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 8px 43px rgba(255, 107, 1, 0.6);
  cursor: pointer;
}

.subpage__title {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
  color: #fff;
}

.movie__article {
  display: flex;
  gap: 40px;
  margin-bottom: 60px;
  background: rgba(40, 40, 40, 0.7);
  padding: 10px 0 20px;
}

.inner__movie_meta h3 {
  color: #ff6b01;
  margin-bottom: 10px;
}

.poster__box {
  max-width: 50%;
}

.movie__details_box {
  display: flex;
}

.movie__navList {
  display: flex;
}

.movie__meta {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  min-height: 100%;
  gap: 40px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
  color: #fff;
}

.inner__movie_meta {
  flex: 1 1 auto;
}

.movie__poster {
  border-radius: 8px;
  cursor: pointer;
}

.movie__subtitle {
  color: #fff;
  font-size: 32px;
  margin-bottom: 24px;
}

.overview__text {
  margin-bottom: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.66;
}

.genres__list {
  display: flex;
}

.genreName + .genreName {
  margin-left: 8px;
}

.accent__box {
  display: inline-block;
  background-color: #ff6b01;
  padding: 0 10px;
  border-radius: 5px;
}

.accent__box.movie__text {
  color: #fff;
}

.movie__text {
  margin-left: 16px;
}

.movie__navItem + .movie__navItem {
  margin-left: 40px;
}

.first__paragraph::before {
  content: "|";
  display: inline-block;
  margin-right: 16px;
  color: #ff6b01;
  font-weight: 700;
}
