@import "../../variables";

.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.subpage__title {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
  color: var(--light-text-color);
}
