@import "../../variables";

.header {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  padding-top: 50px;
  padding-bottom: 50px;
}

.logo_btn {
  display: flex;
  align-items: center;
  background: inherit;
  color: var(--light-text-color);
  border: none;
  font-size: 28px;
  font-weight: 700;
}

.header__nav {
  display: flex;
}

.header__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
    margin-left: auto;
  }
}

.header__item + .header__item {
  margin-left: 20px;
}

.burger__btn {
  margin-left: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .burger__btn {
    display: none;
  }
}

.burger__icon {
  fill: var(--light-text-color);
  width: 24px;
  height: 24px;
}
