@import "../../variables";

.footer {
  background-color: rgba(0, 0, 0, 0.56);
}

.footer__container {
  color: #faebd7;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.footer__developerLink {
  color: var(--primary-button-color);
}

.footer__icon {
  animation-name: heartBeat;
  animation-duration: 1000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  color: var(--primary-button-color);
  margin: 0 8px;
}

@keyframes heartBeat {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}
