.modal__wrapper {
  position: relative;
  max-width: 814px;
  margin: 0 auto;
  background: white;
  padding: 16px;
}

@media screen and (min-width: 768px) {
  .modal__wrapper {
    padding: 16px 40px;
  }
}

.movie__article {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .movie__article {
    flex-direction: row;
  }
}

.modal__imgBox img {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .modal__imgBox {
    width: 50%;
  }
}
.modal__MovieMeta {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .modal__MovieMeta {
    width: 50%;
  }
}

.right__moviemeta {
  flex-grow: 1;
}

.movieCard_navList {
  display: flex;
}

.cardTitle {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 28px;
}
@media screen and (min-width: 768px) {
  .cardTitle {
    font-size: 30px;
    line-height: 35px;
  }
}
.accent__box {
  display: inline-block;
  color: #fff;
  background-color: #ff6b01;
  padding: 0 10px;
  margin-left: 8px;
  border-radius: 5px;
}

.MovieMeta__item {
  margin-bottom: 10px;
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.33;
}
.cardSubtitle {
  color: #ff6b01;
  margin-bottom: 8px;
}
.meta__text {
  display: inline-block;
  color: #000;
}

.meta__text:not(:last-child) {
  margin-right: 4px;
}
.meta__text:first-child {
  margin-left: 8px;
}

.closeIcon {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 24px;
  fill: #8c8c8c;
  height: 24px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.closeIcon:hover,
.closeIcon:focus {
  fill: #da5c02;
}

.add__btn {
  margin-top: 20px;
}
